<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anas Kaarov</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="portfolio-list">
        <div class="container">
            <div class="left_side">
                <div class="profileText">
                    <div class="imgBx">
                        <img class="photo" src="Anas.jpg" alt="Photo of Anas">
                    </div>
                    <br>
                    <h2>Anas Kaarov <br><span>Web Developer</span> </h2>
                </div>

                <div class="contactInfo">
                    <h3 class="title">Contact Info</h3>
                    <ul>
                        <li>
                            <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <span class="text">+996 778 67 89 98</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                            <span class="text">anasbinkurban@gmail.com</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-telegram" aria-hidden="true"></i></span>
                            <span class="text">kaarovjr</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <span class="text">Kyrgyzstan, Bishkek</span>
                        </li>
                    </ul>
                </div>
                <div class="contactInfo education">
                    <h3 class="title">Education</h3>
                    <ul>
                        <li>
                            <h5>2020 - present</h5>
                            <h4>University</h4>
                            <h4>Ala Too International University</h4>
                        </li>
                        <li>
                            <h5>2022 - 2022</h5>
                            <h4>Python/Django</h4>
                            <h4>ZeroOne</h4>
                        </li>
                        <li>
                            <h5>2015 - 2020</h5>
                            <h4>Lyceum</h4>
                            <h4>Kut Bilim</h4>
                        </li>
                    </ul>
                </div>
                <div class="contactInfo language">
                    <h3 class="title">Languages</h3>
                    <ul>
                        <li>
                            <span class="text">Kyrgyz</span>
                            <span class="percent">
                                <div class="kyrlng100"></div>
                            </span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span class="text">Russian</span>
                            <span class="percent">
                                <div class="russialng80"></div>
                            </span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span class="text">English</span>
                            <span class="percent">
                                <div class="englishlng80"></div>
                            </span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span class="text">Turkish</span>
                            <span class="percent">
                                <div class="turlng50"></div>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="right_side">
                <div class="about">
                    <h2 class="title2">Profile</h2>
                    <p>Hello! My name is Anas Kaarov. I am from Osh, but I was grown up in Bishkek. I am 19 years old. I am older boy in my family.
                        Now I want to become the best Developer and work with big companies, that is why I choose computer science.
                        Also I want to begin new big project.

                        <br> <br>
                        I love sport( Soccer, Tennis, Chess, Golf ), especially Football. I participated in a lot of football tournament, and most of them I win. I am a defender in Football so I must be strong, tough, nimble and smart.
                    </p>
                </div>
                <div class="about">
                    <h2 class="title2">Experience</h2>
                    <div class="box">
                        <div class="year_company">
                            <h5>2021 - 2022</h5>
                            <h5>Alakel</h5>
                        </div>
                        <div class="text">
                            <h4>PHOTOGRAPHER</h4>
                            <p>Created optimized sized images for website publication. Worked carefully with Photoshop/Lightroom software to retouch and improve images.</p>
                        </div>
                    </div>
                </div>
                <div class="about skills">
                    <h2 class="title2">Professionals skills</h2>
                    <div class="box">
                        <h4>Python</h4>
                        <div class="percent">
                            <div class="pythonskill80"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Django</h4>
                        <div class="percent">
                            <div class="djangoskill75"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>PostgreSQL</h4>
                        <div class="percent">
                            <div class="postgresqlskill60"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Java</h4>
                        <div class="percent">
                            <div class="javaskill30"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>HTML</h4>
                        <div class="percent">
                            <div class="htmlskill70"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>CSS</h4>
                        <div class="percent">
                            <div class="cssskill60"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Photoshop</h4>
                        <div class="percent">
                            <div class="photoshopskill65"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Problem-Solving</h4>
                        <div class="percent">
                            <div class="problem-solvingskill70"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Teamwork</h4>
                        <div class="percent">
                            <div class="teamworkskill80"></div>
                        </div>
                    </div>
                </div>
                <div class="about interest">
                    <h2 class="title2">Interests</h2>
                    <ul>
                        <li><i class="fa fa-book" aria-hidden="true"></i> Reading</li>
                        <li><i class="fa fa-gamepad" aria-hidden="true"></i> Gaming</li>
                        <li><i class="fa fa-cutlery" aria-hidden="true"></i> Cooking</li>
                        <li><i class="fa fa-soccer-ball-o" aria-hidden="true"></i> Sport</li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</body>
</html>